<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Settings - Trueskill-plus</title>
</head>

<body>
    <div class="container">
        <div class="col sidecolumn"></div>
        <div class="col">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <h1>Trueskill-plus</h1>
                </a>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="main"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manage">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="graph">Graph</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="help">Help</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1>The Trueskill-plus rating system</h1>
            <h2>Usage</h2>
            <h3>Settings</h3>
            <p>Lorem ipsum</p>
            <h2>About</h2>
            <p>TrueSkill is a rating system that is used to determine the relative skill levels of players in a variety
                of games and sports. It was developed by Microsoft Research and is commonly used in online gaming
                platforms and matchmaking systems.

                The TrueSkill system is based on Bayesian inference, which is a mathematical framework for making
                predictions based on probabilities. The system uses a Bayesian model to estimate the skill level of each
                player based on their performance in previous games.

            <p>How It Works</p>
            The TrueSkill system works by assigning each player a numerical skill level, which is represented as a
            Gaussian distribution. The mean of the distribution represents the player's estimated skill level, and the
            variance represents the uncertainty in the estimate.

            When a player competes in a game, the system uses the outcome of the game to update their skill level. If
            the player performs better than expected (i.e. they win against a more highly skilled opponent), their skill
            level is increased. If they perform worse than expected (i.e. they lose against a less highly skilled
            opponent), their skill level is decreased.

            The amount that a player's skill level changes after a game depends on several factors, including the skill
            levels of their opponents, the number of players in the game, and the variance of their own skill level
            estimate.
            </p>
            <h2>Advantages of TrueSkill</h2>
            <p>
                One of the main advantages of the TrueSkill system is that it is adaptive, meaning that it can update a
                player's skill level in real-time as they play games. This allows for more accurate matchmaking and
                helps to ensure that players are matched against opponents of similar skill levels.
                Another advantage of the TrueSkill system is that it can handle multiple players and team-based games.
                The system is able to take into account the skill levels of each player on a team and adjust the team's
                overall skill level accordingly.
            </p>
            <h2>The upgrade - Trueskill 2</h2>
            <p>Lorem ipsum</p>




        </div>
        <div class="col sidecolumn"></div>
    </div>
</body>

</html>