<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Settings - Trueskill-plus</title>
</head>

<body>
    <div class="container">
        <div class="col sidecolumn"></div>
        <div class="col">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <h1>Trueskill-plus</h1>
                </a>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="main"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manage">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="graph">Graph</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="help">Help</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1 class="display-1">The Trueskill-plus rating system</h1>
            <h2>Usage</h2>
            <h3>Add the players and teams</h3>
            <p>Use the "Add team" button to add teams! You can find a text field next to the button, make sure to enter a name for your newly created team! After you added the desired amount of teams, add players by entering their name information in the relevant field, and then adding them by pressing the "Add player" button.</p>
            <h3>Make them play a match</h3>
            <p>To rate the players and teams in a match, enter their ranks first. For example, in case of 4 teams, "3,2,1,4" is a valid ranking. In this case, the upper-most team finished third, the next one is second, and so on. If the ranks are set, press the "Update Ratings" button to make them play the match. Their ratings should update automatically to reflect the outcome of the game they just played.</p>
            <h3>Edit and delete</h3>
            <p>If you wish to edit values corresponding to a player, type in the new values, and then press the update button. The values are now updated! If you wish to delete a team or player, you can do so with the red buttons next to their names.</p>
            <h3>Settings</h3>
            <p>The full potential of Trueskill-plus lies in its many parameters. Head to the Settings page to change how the system behaves. You can set a default average and variance, and you can enable the more advanced features the engine has to offer, like the "stats" and "squad" coefficients. Additional information can be found under each parameter found on the settings page. </p>
            <h3>Graph</h3>
            <p>You can view the ratings in a visualised way in the graph tab. Each plot represents one player already added to the system.</p>
            <h2>About</h2>
            <p>TrueSkill is a rating system that is used to determine the relative skill levels of players in a variety
                of games and sports. It was developed by Microsoft Research and is commonly used in online gaming
                platforms and matchmaking systems.

                TrueSkill 2 is an improvement on TrueSkill, with the intention of providing even more accurate rating estimations, by making use of additional parameters, and game-specific features. Trueskill-plus implements some of those parameters for use, while keeping the universal nature of the original TrueSkill intact.

            <h2>How It Works</h2>
            The TrueSkill system works by assigning each player a numerical skill level, which is represented as a
            Gaussian distribution. The mean of the distribution represents the player's estimated skill level, and the
            variance represents the uncertainty in the estimate.

            When a player competes in a game, the system uses the outcome of the game to update their skill level. If
            the player performs better than expected (i.e. they win against a more highly skilled opponent), their skill
            level is increased. If they perform worse than expected (i.e. they lose against a less highly skilled
            opponent), their skill level is decreased.

            The amount that a player's skill level changes after a game depends on several factors, including the skill
            levels of their opponents, the number of players in the game, and the variance of their own skill level
            estimate.
            </p>
        </div>
        <div class="col sidecolumn"></div>
    </div>
</body>

</html>