<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Trueskill-plus</title>
</head>
<style>
    body {
        background-color: whitesmoke;
    }
</style>

<body>
    <div class="container">
        <div class="col sidecolumn"></div>
        <div class="col">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <h1>Trueskill-plus</h1>
                </a>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="main"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manage">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="graph">Graph</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="help">Help</a>
                          </li>
                    </ul>
                </div>
            </nav>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes >
                        {% for message in messages %}
                            <li class="list-group-item list-group-item-danger">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            

            <form action="/calculate" method="POST" id="calculate">

                <label for="ranks" class="form-label">Rank of teams</label>
                <input type="text" class="form-control" id="ranks" value="1,2" name="ranks">
                <button type="submit" class="btn btn-outline-dark">Update ratings</button>

            </form>

            {% for teamName, teamMembers in session['teams'].items() -%}

            <h2>{{teamName}} </h2>
            <form action="/remove_team" method="POST">
                <input type="hidden" class="form-control" name="team" value="{{ teamName }}">
                <input type="submit" id="remove_team" class="btn btn-danger" value="Remove team">
            </form>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle">
                    <thead class="table-primary">
                        <th>Name</th>
                        <th>Mu</th>
                        <th>Sigma</th>
                        <th>Stats</th>
                        <th>Expected statistics</th>
                        <th>Experience</th>
                        <th>In squad?</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <div class="form-group">
                                <form action="/add_player" method="POST" class="form-inline" id="my-form">
                                    <input type="hidden" class="form-control" name="team" value="{{ teamName }}">
                                    <td>
                                        <input type="text" class="form-control" id="playerName" name="playerName">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="mu" value={{session['env']['mu']}} name="mu" min="0.0" step="0.0001" readonly>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="sigma" value={{session['env']['sigma']}} name="sigma" min="0.0" step="0.0001" readonly>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="stats" value="0" name="stats">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="pred_stats" value="0"
                                            name="pred_stats">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="experience" value="0" min="0" max="5" step="1" 
                                            name="experience">
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input" id="squad" name="squad">
                                    </td>
                                    <td>
                                        <label for="addPlayer" class="form-label"> </label>
                                        <input type="submit" id="addPlayer" class="form-control btn btn-primary"
                                            value="Add player">
                                    </td>
                                </form>
                            </div>
                        </tr>

                        {% for key, values in session['teams'][teamName].items() -%}
                        <tr>
                            <form action="/update_player" method="post">
                                <input type="hidden" name="team" value= "{{ teamName }}" >
                                <input type="hidden" name="playerName" value={{ key }}>
                                <td> {{ key}} </td>
                                <td> {{values['mu']}} </td>
                                <td> {{values['sigma']}} </td>
                                <td>
                                    <input type="number" name="stats" value={{ values['stats'] }}>
                                </td>
                                <td>
                                    <input type="number" name="pred_stats" value={{
                                        values['pred_stats']}}>
                                </td>
                                <td>
                                    <input type="number" name="experience" value={{ values['experience']}}>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" name="squad"
                                    {% if values['squad'] == 'on' %} checked {%endif%}>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-warning" name="action" value="update">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </button>

                                    <button type="submit" class="btn btn-danger" name='action' value="remove">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {%endfor%}
            <form action="/add_team" method="POST">
                <input type="text" name="teamName">
                <button class=" btn btn-success">Add team</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous">
    </script>
    </body>

</html>